body {
    background-color: #06090f;
    margin: 0;
}

.search {
    background-color: #161b22;
    height: 70px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 0;
}

.search__form input {
    background: #06090f;
    padding: 5px 12px;
    width: 50%;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    color: #c9d1d9;
    font-size: 20px;
}

.search__form button {
    right: 33px;
    width: 26px;
    height: 26px;
    position: relative;
    cursor: pointer;
    background-color: #161b22;
    border: 1px solid;
}

.search__form button:before {
    content: "\27A4";
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.search__form button:hover {
    border-color: #c9d1d9;
}

.search__error {
    display: block;
    color: #da3633;
    line-height: 8px;
}

.wrapper {
    max-width: 100%;
    background: transparent;
    z-index: 1;
    opacity: 0.5;
    filter: blur(10px);
    min-height: 500px;
}

.blur_active {
    filter: blur(10px);
}

.github__list {
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c9d1d9;
}

.github__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #6e40c9;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 300px;
    min-height: 550px;
}

.github__item>* {
    margin-bottom: 30px;
}

.github__header {
    font-size: 25px;
    text-decoration: none;
    color: #c9d1d9;
}

.github__avatar {
    height: 30%;
}

.github__avatar img {
    overflow: hidden;
    border-radius: 10px;
    max-width: 70%;
}

.github__description {
    max-width: 80%;
}

.github__profile {
    border: 1px solid darkgrey;
    border-radius: 5px;
    color: cornflowerblue;
    text-decoration: none;
    padding: 5px;
    width: 70%;
}

.github__profile:hover {
    background-color: #21262d;
    border-color: #6e40c9;
    color: #6e40c9;
}

.github__date {
    font-size: 20px;
    color: #c9d1d9;
}


/* Preloader */

.hidden {
    display: none;
}

.loader {
    position: fixed;
    left: 50%;
    top: 40%;
    width: 250px;
    height: 250px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}